<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JHCarCenter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="Index">Customer Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Accessories" asp-action="Index"> Accessories List </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Vehicle Info </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Vehicle" asp-action="Create"> Add New Vehicle</a></li>
                            <li><a class="dropdown-item" asp-controller="Vehicle" asp-action="Index"> Sahow All Vehicle </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Quatations Info </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Quatation" asp-action="Index"> Show All</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-header"> Add New Quatation</a></li>
                            <li><a class="dropdown-item" asp-controller="Customer" asp-action="Create">New Customer</a></li>
                            <li><a class="dropdown-item" asp-controller="Customer" asp-action="Index">Existing Customer</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Delivary Info</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Delivery" asp-action="Pending"> Pending Delivaries</a></li>
                            <li><a class="dropdown-item" asp-controller="Delivery" asp-action="Index"> All </a></li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- navbar-collapse.// -->
        </nav>



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - JHCarCenter - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
