@model IEnumerable<JHCarCenter.Models.Customer>

@{
    ViewData["Title"] = "Index";
}



<table class="table table-bordered">
    <thead>
        <tr>
            <th>
              Customer Name
            </th>
            <th>
                Address
            </th>
            <th>
              Phone
            </th>
           
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            
            <td>
                <a asp-action="SelectVehicle" asp-controller="Quatation" asp-route-customerId="@item.CustomerID" class="btn btn-outline-primary">Create Quatation</a>
            </td>
        </tr>
}
    </tbody>
</table>
