
@{
    ViewData["Title"] = "Challan";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col card-header">
            <h2 class="text-center">JH Car Cneter</h2>
            <p class=" text-center">All Kinds of Motor Car Purchaser and Selleer</p>
            <p class="text-center">
                8O/5, Kakrail (Ground Floor) Dhaka-1000 <br>
                Moblle : O1711-351129,
                Phone: 9335471
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center font-weight-bold">Challan</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-8">
            Challan Number:
        </div>

        <div class="col-4">
            Date :
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Customer Informations</h3>
            <h5>Customer Name: </h5>
            <h5>Addrerss: </h5>
            <h5>Phone: </h5>
        </div>
        <div class="col">

        </div>
    </div>


</div>

