
@{
    ViewData["Title"] = "Challan";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col card-header">
            <h2 class="text-center">JH Car Cneter</h2>
            <p class=" text-center">All Kinds of Motor Car Purchaser and Selleer</p>
            <p class="text-center">
                8O/5, Kakrail (Ground Floor) Dhaka-1000 <br>
                Moblle : O1711-351129,
                Phone: 9335471
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center font-weight-bold">Challan</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-8">
            Challan Number:
        </div>

        <div class="col-4">
            Date :
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Customer Informations Customer Name: Addrerss: Phone:</p>

        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-sm mt-4">
            <thead class="bg-info">
                <tr>
                    <th scope="col">Serial Number</th>
                    <th scope="col">Vehicle Descriptation</th>
                    <th scope="col">
                        Unit Price
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Vehicle : </td>
                    <td rowspan="8"></td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>Engine Capacity :</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>Chassis No. :</td>
                </tr>
                <tr>
                    <td scope="row">4</td>
                    <td>Engine No. : </td>
                </tr>
                <tr>
                    <td scope="row">5</td>
                    <td>Manf. Year : </td>
                </tr>
                <tr>
                    <td scope="row">6</td>
                    <td>Load Gapacity : </td>
                </tr>
                <tr>
                    <td scope="row">7</td>
                    <td>Colour : </td>
                </tr>
                <tr>
                    <td scope="row">8</td>
                    <td>Accessories</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group d-flex justify-content-end">
        <a asp-action="PrintQuatation" asp-route-id="" class="btn btn-primary">Confrim Order</a>
    </div>


</div>

