@model Vehicle
@{
    ViewData["Title"] = "Update";
}


<h4 class="text-center card-header">Vehicle Input Data</h4>
<hr />


<div class="container">

    <form asp-action="Update">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="VehicleID" />
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Vehicle Name</label>
                    <input asp-for="VehicleName" class="form-control" />
                    <span asp-validation-for="VehicleName" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Engine Number</label>
                    <input asp-for="EngineNo" class="form-control" />
                    <span asp-validation-for="EngineNo" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Chassis Number</label>
                    <input asp-for="ChassisNo" class="form-control" />
                    <span asp-validation-for="ChassisNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label">ColorID</label>
                    <select class="form-control" asp-for="ColorID" asp-items="@(new SelectList(ViewBag.Color,"ColorID","ColorName"))"></select>
                    <span asp-validation-for="ColorID" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Cubic_Capacity(CC)</label>
                    <input asp-for="Cubic_Capacity" class="form-control" />
                    <span asp-validation-for="Cubic_Capacity" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Load Capacity</label>
                    <input asp-for="LoadCapacity" class="form-control" />
                    <span asp-validation-for="LoadCapacity" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Manfacture Year</label>
                    <input asp-for="ManfactureYear" class="form-control" type="date" />
                    <span asp-validation-for="ManfactureYear" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Unit Price</label>
                    <input asp-for="UnitPrice" class="form-control" type="number" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="form-group">
                    <label class="control-label">Vehicle Type</label>
                    <select class="form-control" asp-for="VehicleTypeID" asp-items="@(new SelectList(ViewBag.Type,"VehicleTypeID","Type"))"></select>
                </div>
            </div>
        </div>


        <div class="form-group d-flex justify-content-end">
            <input type="submit" value="Update Information" class="btn btn-primary" />
        </div>
        <hr />
    </form>

</div>
